.idea/
__pycache__/
venv/
.DS_Store
/C#/KidsChecklist/PackedYourBagTom/obj/Debug
/C#/KidsChecklist/PackedYourBagTom/bin/Debug
*.pyc
Python/tasks/GitHub.tasks.zip
Python/workspace/1xE8zkvQ3PWzoNc8JtAbhS2yg2U.xml
*.zip
