<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="KidsCheckList.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <KidsCheckList.Properties.Settings>
            <setting name="CheckList" serializeAs="String">
                <value>Packed bag?;Tidied room?</value>
            </setting>
            <setting name="HaveYouText" serializeAs="String">
                <value>Hey Tom, have you...</value>
            </setting>
            <setting name="LaunchOnWeekends" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LaunchBeforeHour" serializeAs="String">
                <value>12</value>
            </setting>
        </KidsCheckList.Properties.Settings>
    </userSettings>
</configuration>